* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #90E0EF;
}

::selection {
  color: white;
  background: #90E0EF;
}

.startBtnBox, .rulesBox, .quizBox, .recordBox, .highscoresBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#startBtn {
  font-size: 2rem;
}

.rulesBox, .quizBox, .recordBox, .highscoresBox {
  width: 550px;
  background: white;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.rulesTitle {
  font-size: 2rem;
  text-align: center;
}

.conBtn {
  display: flex;
  justify-content: center;
  padding: 0 0 10px 0;
}

span {
  font-weight: bold;
}

.rulesBox.showRules, .quizBox.showQuiz, .resultBox.showResults, .recordBox.showRecordForm, .highscoresBox.showScores {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

header {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  background: white;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
}

.quizTitle {
  font-size: 30px;
  font-weight: bold;
}

.timer {
  color: black;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 126px;
}

.timerTime {
  font-size: 23px;
  font-weight: bold;
  user-select: none;
}

.timerSecs {
  font-size: 18px;
  height: 30px;
  width: 45px;
  color: white;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

section {
  padding: 25px 30px 20px 30px;
  background: white;
}

.quizQue {
  font-size: 25px;
  font-weight: 600;
}

.quizOpt {
  padding: 20px 0px;
  display: block;
}

.quizOpt .option {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quizOpt .option:last-child {
  margin-bottom: 0px;
}

.quizOpt .option:hover {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}

.quizOpt .option.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

.quizOpt .option.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.quizOpt .option.disabled {
  pointer-events: none;
}

.quizOpt .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}

.quizOpt .option .icon.checkmark {
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}

.quizOpt .option .icon.cross {
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}

footer {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

.quizTotal span {
  display: flex;
  user-select: none;
}

.quizTotal span p {
  font-weight: 500;
  padding: 0 5px;
}

.quizTotal span p:first-child {
  padding-left: 0px;
}

.resultBox {
  background: white;
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  width: 450px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* .resultBox .icon {
  font-size: 100px;
  color: #007bff;
  margin-bottom: 10px;
} */

/* .resultBox .complete_text {
  font-size: 20px;
  font-weight: 500;
} */

.resultScore span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.resultScore span p {
  padding: 0 4px;
  font-weight: 600;
}

.resultBtns {
  display: flex;
  margin: 20px 0;
}

.resultBtns button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}

#recordScoreBtn {
  color: #007bff;
  background: white;
}

#recordScoreBtn:hover {
  color: white;
  background: #007bff;
}

#retakeBtn {
  color: white;
  background: #007bff;
}

#retakeBtn:hover {
  background: #0263ca;
}